.header {
  height: 95vh;
  background-image: linear-gradient(to left bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8));
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__bar-box {
  display: flex; }
  .navigation__bar-box :first-child {
    padding-left: 25px; }
  .navigation__bar-box a {
    text-decoration-style: dashed;
    text-decoration: none;
    list-style: none; }
    .navigation__bar-box a li {
      font-size: 2rem;
      padding-right: 5rem; }

.row {
  max-width: 180rem;
  margin: 0 auto;
  display: block;
  content: "";
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 8rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 16rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 16rem) / 3) + 8rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 8rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 8rem) / 4) + 8rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

@media only screen and (min-device-width: 375px) and (max-device-width: 768px) {
  /* Styles */
  html {
    font-size: 25%; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 375px) {
  /* Styles */
  html {
    font-size: 20%; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-half-row-verticle-center-text-center {
  height: 65vh;
  display: table-cell;
  vertical-align: middle;
  text-align: left; }

.u-half-row-verticle-center-text-right {
  width: 65vh;
  height: 65vh;
  display: table-cell;
  vertical-align: middle;
  text-align: right; }

.u-half-row {
  height: 65vh; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #2998ff; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
            animation-delay: 3s;
            animation-iteration-count: 3;
            */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveInRight 1s ease-out; }

.about-me-paragraph {
  color: #000;
  font-size: 2rem;
  margin-bottom: 15px; }

.typewriter h1 {
  color: #000;
  font-size: 20rem;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid #2998ff;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.75s step-end infinite; }

.container {
  /* will cover the 100% of viewport */
  overflow: auto;
  display: block;
  position: relative;
  padding-bottom: 100px;
  /* height of your footer */ }

footer {
  position: absolute;
  bottom: 0;
  height: 15px;
  background-color: red;
  width: 100%; }

.heading-image {
  height: 65vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: moveInTop;
  animation-duration: 1s;
  background-image: url(../img/me.jpg);
  transition: all 2s; }

.nav-link {
  text-decoration: none;
  list-style: none;
  color: #777;
  text-transform: uppercase; }
  .nav-link span::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: black;
    transition: width .5s; }
  .nav-link span:hover {
    margin-bottom: 0px;
    color: #2998ff; }
    .nav-link span:hover:after {
      width: 100%; }

#section-about,
#section-projects {
  height: 100vh; }

.section-about {
  margin-top: 35vh;
  color: #2998ff;
  background-color: #fff; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all .2s; }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn-animated {
  animation: moveInBottom 0.5s ease-out 1s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 3.2rem;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn-text--projects {
  color: #2998ff;
  border-bottom: 1px solid #2998ff; }
  .btn-text--projects:hover {
    background-color: #2998ff; }

#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9); }

#return-to-top:hover i {
  color: #fff;
  top: 5px; }

/* Extra Things */
h3 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 50px; }

h3 i {
  color: #444; }
